
.top {
	 border: 5px solid blue;
   width:100%;
}

.center {
	 border: 5px solid black;
}

.left {
	 border: 5px solid green;
	   float: left;
	   width: 100%;
}

.right {
	 border: 5px solid yellow;
	  float: right;
	  width: 100%;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}