body {
    background-color: black;
}
	
.top {
	 border: 5px solid blue;
	width:auto%;
	font-family: Courier;
	color: white;
	font-size:20px;
		margin-left: 10px;

		position:relative;
   }

   
.left {
	font-family: Courier;
	color: white;
	font-size:20px;
	 border: 5px solid green;
		    float: left;
	   width: 45%;
	    position: relative;
		margin-left: 10px;
			margin-right: 2px;
}

.center {
	font-family: Courier;
	color: white;
	font-size:20px;
	 border: 5px solid black;
	   width: 5%;
	    float: left;
		 border: 5px solid cyan;
	    position: relative;
			  	margin-left: 2px;
						margin-right: 2px;
}

.right {
	font-family: Courier;
	color: white;
	font-size:20px;
	 border: 5px solid yellow;
	  float: left;
	  width: 45%;
	  	margin-right: 10px;
	      position: relative;
}

.bottom {
	font-family: Courier;
	color: white;
	font-size:20px;
	 border: 5px solid gray;
	 height: 5%;
	position:relative;
	margin-top: 35%;
	  width: 100%;
	  	margin-left: 2px;
						margin-right: 2px;
						margin-bottom: 0%;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}